.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 74px 0 70px;
}

.profile__section {
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center;
}

.profile__form {
  padding: 124px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 410px;
}

.profile__fieldset_form {
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #424242;
  padding-bottom: 17px;
}

.profile__fieldset_form:last-of-type {
  padding-bottom: 0;
  border: none;
  padding-top: 17px;
}

.profile__name {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  padding: 0;
  border: none;
  text-align: right;
  background: #202020;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  width: 85%;
}

.profile__input::placeholder {
  color: #fff;
}

.profile__input:focus {
  outline: 1px solid #101010;
}

.profile__error_active {
  position: absolute;
  min-width: 410px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
  padding-top: 270px;
  text-align: center;
}

.profile__edit-form {
  cursor: pointer;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  background: none;
  border: none;
  transition: opacity 0.8s;
  margin-top: 219px;
}

.profile__exit-form {
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  text-decoration: none;
  transition: opacity 0.8s;
}

.profile__save-form {
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  background: #3456f3;
  border-radius: 3px;
  min-width: 410px;
  min-height: 45px;
  padding: 0;
  color: #fff;
  margin-top: 223px;
}

.profile__save-form:hover,
.profile__exit-form:hover,
.profile__edit-form:hover {
  opacity: 0.8;
}

.profile__save-form:disabled {
  color: #c2c2c2;
  background: #f8f8f8;
  cursor: not-allowed;
}

.profile__save-form:disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 950px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__form {
    padding: 96px 0 0;
  }

  .profile__edit-form {
    margin-top: 210px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__form {
    padding: 80px 0 0;
    min-width: 260px;
  }

  .profile__edit-form {
    font-size: 12px;
    line-height: 15px;
    margin-top: 379px;
  }

  .profile__exit-form {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__save-form {
    min-width: 260px;
    min-height: 35px;
    margin-top: 379px;
  }

  .profile__error_active {
    padding-top: 430px;
    min-width: 260px;
  }
}
