.card__remove_button {
  border-radius: 36px;
  width: 30px;
  height: 30px;
  background: url('../../../images/remove.svg');
  border: none;
  cursor: pointer;
  transition: opacity 0.8s;
  padding: 0;
}

.card__remove_button {
  opacity: 0.8;
}
