.navigation__container {
  display: flex;
  gap: 365px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__burger_button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  text-transform: capitalize;
  transition: opacity 0.8s ease-in-out;
}

.navigation__burger_button:hover {
  opacity: 0.8;
}

.navigation__burger_line {
  min-width: 28px;
  margin-right: 8px;
  border-top: 3px solid #fff;
  padding-bottom: 7px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation__burger_line:last-of-type {
  padding: 0;
}

.navigation__burger-container {
  display: none;
}

.navigation__content {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.navigation__link {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link:last-child {
  gap: 9px;
}

.navigation__account-container {
  display: flex;
  padding-left: 11px;
  padding-right: 3px;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__account_link {
  display: flex;
  width: 26px;
  height: 26px;
  background: #313131;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.7s;
}

.navigation__account_link:hover {
  opacity: 0.7;
}

.navigation__account_icon {
  padding: 5px;
}

@media screen and (max-width: 1100px) {
  .navigation__container {
    gap: 270px;
  }
}

@media screen and (max-width: 900px) {
  .navigation__container {
    gap: 180px;
  }
}

@media screen and (max-width: 790px) {
  .navigation__container {
    gap: 0;
  }

  .navigation__content {
    display: none;
  }
  .navigation__account-container {
    display: none;
  }

  .navigation__burger-container {
    display: block;
    display: flex;
  }

  .navigation__link {
    font-size: 22px;
    font-weight: 500;
  }

  .navigation__link_active {
    border-top: 2px solid #fff;
  }
}

@media screen and (max-width: 340px) {
  .navigation__burger_line {
    min-width: 22px;
    border-top: 2.5px solid #fff;
    padding-bottom: 6.5px;
    margin-right: 9px;
  }
}
