.cardlist {
  padding: 70px 70px 30px;
}

.cardlist__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(auto, 364px));
  gap: 30px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 950px) {
  .cardlist {
    padding: 70px 30px 30px;
  }

  .cardlist__list {
    grid-template-columns: repeat(auto-fill, minmax(auto, 339px));
    gap: 36px 30px;
  }
}

@media screen and (max-width: 500px) {
  .cardlist {
    padding: 40px 10px 30px;
  }

  .cardlist__list {
    grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
    gap: 16px;
  }
}
