.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  mix-blend-mode: normal;
  padding: 0 0 50px;
  margin: 0;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.portfolio__links-container {
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
}

.portfolio__links-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link-container {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.7s;
  display: flex;
  justify-content: space-between;
}

.portfolio__link-container:hover {
  opacity: 0.7;
}

.portfolio__image-container {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  padding: 6px 6px 0;
}

@media screen and (max-width: 950px) {
  .portfolio__title {
    color: #a0a0a0;
    mix-blend-mode: normal;
  }

  .portfolio__link-container {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__image-container {
    font-size: 28px;
  }

  .portfolio__links-container {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__title {
    font-size: 14px;
    padding: 0 0 40px;
  }

  .portfolio__link-container {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__image-container {
    font-size: 18px;
    line-height: 28px;
    max-width: 10px;
    padding: 0 5px 0;
  }
}
