.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__input {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #343434;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.filter__input::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  background-color: #a0a0a0;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.filter__input:checked::after {
  transform: translateX(calc(200%));
  background-color: #fff;
}

.filter__input:checked {
  background: #3ddc84;
}
