.drawer_hidden {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in, visibility 0.8s ease-in-out;
}

.drawer_visible {
  visibility: visible;
}

.drawer {
  position: absolute;
  max-width: 520px;
  height: 100%;
  right: 0;
  top: 0;
  background: #202020;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 22px;
  transition: opacity 0.3s, visibility 0.8s;
}

.drawer_active {
  visibility: visible;
}

.drawer__button {
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
}

.button__remove {
  background: url('../../images/removeButton.svg') no-repeat center;
  width: 22px;
  height: 22px;
  border: none;
  transition: opacity 0.8s;
  cursor: pointer;
}

.button__remove:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.drawer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 105px 90px 621px;
  gap: 24px;
  min-width: 340px;
}

.drawer__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.7s;
}

.drawer__link:hover {
  opacity: 0.7;
}

.drawer__link_active {
  border-bottom: 4px solid #fff;
  margin-bottom: -4px;
}

.drawer__account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 0 210px 90px;
}

.drawer__account-container_link {
  display: flex;
  min-width: 26px;
  min-height: 26px;
  background: #313131;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 3px 3px 3px 0;
}

.drawer__account-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.7s;
}

.drawer__account-container_icon {
  transition: opacity 0.7s;
}

.drawer__account-link:hover,
.drawer__account-container_icon:hover {
  opacity: 0.7;
}

@media screen and (max-width: 520px) {
  .drawer {
    padding-top: 13.44px;
    max-width: 320px;
    height: 780px;
  }

  .drawer__links {
    padding: 99px 10px 444px;
    gap: 18px;
    min-width: 300px;
  }

  .drawer__link {
    padding-bottom: 7px;
    line-height: 22px;
  }

  .drawer__link:hover {
    opacity: 0.8;
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
  }

  .drawer__account-container {
    padding: 0 110px 46px;
  }
}
