.header {
  padding: 18px 70px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  background-image: url('../../images/logo.svg');
  min-width: 38px;
  min-height: 38px;
  transition: opacity 0.8s;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__box {
  display: flex;
  gap: 24px;
}

.header__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.8;
}

.header__button:last-of-type {
  color: #000;
  background: #3ddc84;
  border-radius: 3px;
  min-width: 76px;
  min-height: 32px;
}

@media screen and (max-width: 950px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 18px 14px 18px;
  }

  .header__box {
    gap: 8px;
  }

  .header__button {
    font-size: 10px;
  }

  .header__button:last-of-type {
    min-width: 54px;
    min-height: 26px;
  }
}
