.card {
  background: #222;
  width: 100%;
  max-height: 271px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.card__context {
  padding: 14px;
  display: flex;
  gap: 26px;
  align-items: center;
}

.card__container {
  min-width: 280px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 9px;
}

.card__duration {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}

.card__like-button {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background: #313131 url('../../../images/save.svg') no-repeat center;
  border: none;
  cursor: pointer;
  transition: opacity 0.8s;
}

.card__like-button:hover {
  opacity: 0.8;
}

.card__button-remove {
  border-radius: 36px;
  width: 30px;
  height: 30px;
  background: #313131 url('../../../images/remove.svg');
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.8s;
}

.card__button-remove:hover {
  opacity: 0.8;
}

.card__like-button_active {
  border-radius: 36px;
  width: 30px;
  height: 30px;
  background: #3ddc84 url('../../../images/like.svg') no-repeat center;
  border: none;
  cursor: pointer;
  transition: opacity 0.8s;
}

.card__like-button_active:hover {
  opacity: 0.8;
}

.card__link {
  min-width: 364px;
  min-height: 203px;
  cursor: pointer;
}

.card__item {
  width: 100%;
  max-height: 203px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 950px) {
  .card {
    max-height: 258px;
  }

  .card__context {
    gap: 31px;
  }

  .card__container {
    min-width: 250px;
  }

  .card__item {
    max-height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    max-height: 236px;
  }

  .card__context {
    gap: 32px;
  }

  .card__container {
    min-width: 210px;
  }

  .card__item {
    max-height: 168px;
  }
}
