.footer {
  padding: 79px 70px 20px;
  display: flex;
  flex-direction: column;
}

.footer__text {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  color: #8b8b8b;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__year {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__links {
  display: flex;
  gap: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.8s;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 950px) {
  .footer {
    padding: 76px 30px 20px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 80px 10px 20px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
  }

  .footer__copyright {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 27px;
  }

  .footer__year {
    font-size: 12px;
    line-height: 15px;
    color: #8b8b8b;
    padding-right: 2px;
  }

  .footer__links {
    gap: 9px;
    display: flex;
    flex-direction: column;
    padding-bottom: 29px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
