.search {
  padding: 80px 70px 10px;
  box-sizing: border-box;
}

.search__form {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.search__input-form {
  border: none;
  background: #2f2f2f;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
  padding: 0;
  padding: 15px 0 15px 22px;
  width: 100%;
}

.search__input-form:focus {
  outline: 1px solid #101010;
}

.search__button-form {
  border: none;
  min-height: 44px;
  min-width: 70px;
  padding: 0;
  background: #4285f4;
  border-radius: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.8s;
}

.search__button-form:hover {
  opacity: 0.8;
}

.search__button-form:disabled:hover {
  opacity: 1;
}

.search__checkbox {
  padding: 30px 0 39px;
  display: flex;
  justify-content: center;
  gap: 12px;
  border-bottom: 1px solid #424242;
  transition: opacity 0.8s;
}

.search__checkbox:hover {
  opacity: 0.8;
}

.search__span-checkbox {
  font-size: 12px;
  line-height: 18px;
}

.search__span {
  color: #FF004C;
  font-size: 11px;
  position: absolute;
  top: 205px;
  left: 73px;
}

@media screen and (max-width: 950px) {
  .search {
    padding: 80px 30px 10px;
  }

  .search__span {
    top: 205px;
    left: 32px;
  }
}

@media screen and (max-width: 500px) {
  .search {
    padding: 81px 14px 10px;
  }

  .search__input-form {
    font-size: 12px;
    padding: 13px 0 13px 16px;
    width: 100%;
  }

  .search__checkbox {
    padding: 44px 0 43px;
    gap: 13px;
  }

  .search__span-checkbox {
    font-size: 11px;
  }

  .search__span {
    top: 201px;
    left: 16px;
  }
}
