.search {
  padding: 80px 70px 10px;
  box-sizing: border-box;
}

.search__form {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.search__form_input {
  border: none;
  background: #2f2f2f;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
  padding: 0;
  padding: 15px 0 15px 22px;
  width: 100%;
}

.search__form_button {
  border: none;
  min-height: 44px;
  min-width: 70px;
  padding: 0;
  background: #4285f4;
  border-radius: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.8s;
}

.search__form_button:hover {
  opacity: 0.8;
}

.search__form_button:disabled {
  color: #c2c2c2;
  background: #f8f8f8;
  cursor: not-allowed;
}

.search__form_button:disabled:hover {
  opacity: 1;
}

.search__checkbox {
  padding: 30px 0 39px;
  display: flex;
  justify-content: center;
  gap: 11px;
  border-bottom: 1px solid #424242;
  transition: opacity 0.8s;
}

.search__checkbox:hover {
  opacity: 0.8;
}

.search__checkbox_span {
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 950px) {
  .search {
    padding: 80px 30px 10px;
  }
}

@media screen and (max-width: 500px) {
  .search {
    padding: 81px 14px 10px;
  }

  .search__form_input {
    font-size: 12px;
    padding: 13px 0 13px 16px;
    width: 100%;
  }

  .search__checkbox {
    padding: 44px 0 43px;
    gap: 13px;
  }

  .search__checkbox_span {
    font-size: 11px;
  }
}
