.student {
  padding: 110px 70px 125px;
}

.student__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  font-style: normal;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.student__container {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 100px;
}

.student__content-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.student__title-container {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.student__profession-container {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  mix-blend-mode: normal;
  padding: 18px 0 26px;
}

.student__description-container {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: #fff;
  mix-blend-mode: normal;
}

.student__github-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-top: 99px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.8s;
}

.student__github-container:hover {
  opacity: 0.8;
}

.student__photo-container {
  border-radius: 10px;
  max-width: 270px;
  max-height: 327px;
}

.student__mine-container {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  max-height: 327px;
}

@media screen and (max-width: 1090px) {
  .student__content-container {
    max-width: 450px;
  }

  .student__github-container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 950px) {
  .student {
    padding: 90px 50px 93px;
  }

  .student__container {
    padding-bottom: 90px;
  }

  .student__content-container {
    max-width: 364px;
  }

  .student__title-container {
    font-size: 40px;
    line-height: 40px;
  }

  .student__profession-container {
    font-size: 12px;
    line-height: 18px;
    padding: 16px 0 20px;
  }

  .student__description-container {
    font-size: 12px;
    line-height: 18px;
  }

  .student__github-container {
    padding-top: 87px;
  }

  .student__photo-container {
    min-width: 255px;
    max-height: 307px;
  }

  .student__mine-container {
    max-height: 307px;
    max-width: 255px;
  }
}

@media screen and (max-width: 720px) {
  .student__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .student__github-container {
    padding-top: 40px;
  }

  .student__photo-container {
    min-width: 292px;
    max-height: 352px;
  }

  .student__mine-container {
    max-height: 352px;
    min-width: 292px;
  }
}

@media screen and (max-width: 500px) {
  .student {
    padding: 70px 14px 69px;
  }

  .student__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .student__container {
    padding: 60px 0 70px;
  }

  .student__content-container {
    max-width: 292px;
  }

  .student__title-container {
    font-size: 30px;
    line-height: 36px;
  }

  .student__profession-container {
    font-size: 11px;
    line-height: 16px;
    padding: 20px 0;
  }

  .student__description-container {
    font-size: 11px;
    line-height: 16px;
  }
}
