.login {
  padding: 70px 0;
  margin: 0 auto;
  max-width: 396px;
}

.login__link {
  width: 38px;
  height: 38px;
  transition: opacity 0.7s;
}

.login__link:hover {
  opacity: 0.7;
}

.login__title {
  padding-top: 40px;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  padding: 40px 0 38px;
}

.login__form_fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  margin: 0;
  padding-bottom: 24px;
  position: relative;
}

.login__form_fieldset:last-of-type {
  padding-bottom: 0;
}

.login__form_label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.login__form_input {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #202020;
  padding: 5px 0 0;
}

.login__form_input::placeholder {
  color: #fff;
}

.login__line {
  border: none;
  background: #424242;
  height: 1px;
  margin: 10px 0 0;
}

.login__button {
  width: 100%;
  min-height: 45px;
  background: #4285f4;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 179px;
  transition: opacity 0.8s;
}

.login__button:hover {
  opacity: 0.8;
}

.login__box {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.login__box_text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.login__box_link {
  padding-left: 6px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  transition: opacity 0.7s;
}

.login__box_link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 950px) {
  .login {
    padding: 232px 0;
    margin: 0 auto;
    max-width: 396px;
  }
}

@media screen and (max-width: 500px) {
  .login {
    padding: 56px 30px 30px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__logo {
    padding-bottom: 50px;
  }

  .login__title {
    min-width: 260px;
    text-align: center;
  }

  .login__form {
    padding: 80px 0 42px;
  }

  .login__button {
    margin-top: 267px;
  }

  .login__box {
    padding-top: 14px;
  }

  .login__box_text {
    font-size: 12px;
    line-height: 15px;
  }

  .login__box_link {
    padding-left: 7px;
    font-size: 12px;
    line-height: 15px;
  }
}
